@mixin UtilTextAlign ($suffix: '') {
  .h-text-left#{$suffix} {
    text-align: left;
  }

  .h-text-center#{$suffix} {
    text-align: center;
  }

  .h-text-right#{$suffix} {
    text-align: right;
  }
}
