$size-border: rem(1) !default;
$size-xxxs: rem(14) !default;
$size-xxs: rem(16) !default;
$size-xs:  rem(36) !default;
$size-sm:  rem(64) !default;
$size-md:  rem(100) !default;
$size-lg:  rem(144) !default;
$size-xl:  rem(196) !default;
$size-xxl: rem(256) !default;


$size-card-xs: rem(230) !default;
$size-card-sm: rem(260) !default;
$size-card-md: rem(320) !default;