$space-xxs:  rem(4) !default;
$space-xs:   rem(6.25) !default;
$space-sm:   rem(10) !default;
$space-md:   rem(16) !default;
$space-lg:   rem(25) !default;
$space-xl:   rem(36) !default;
$space-xxl:  rem(49) !default;
